.campo-password {
  position: relative;
}

.campo-password input {
  width: 100%;
  padding-right: 60px;
}

.campo-password-toggle {
  position: absolute;
  right: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 26px;
  background: none;
  border: none;
  font-size: 12px;
  color: var(--text-secondary);
  padding: 0 8px;
}
